<header>
  <nav class="header_menu">
    <ul class="header_menu_list">
            <li class="menuItem"><a href="../main.html">Головна</a></li>
            <li class="menuItem"><a href="../about.html">Про нас</a></li>
            <li class="menuItem"><a href="../menu.html">Mеню</a></li>
            <li class="menuItem"><a href="../contact.html">Контакти</a></li>
        </ul>
    </nav>
    <div class="logo">
        <a href="../main.html">PIZZALICIOUS</a>
    </div>
        <div class="auth-box">
             <div class="cart_icon_box">
            <div class="countIcon">
                <p class="countIconText"></p>
            </div>
        <img
    class="cart-icon"
    data-action="open_modal"
    src="https://w7.pngwing.com/pngs/609/434/png-transparent-shopping-cart-computer-icons-online-shopping-shopping-cart-angle-shopping-cart-software-shopping-cart-thumbnail.png"/>
         </div>
        <a id="login_button" class="login-button">Увійти</a>
        <a id="logout_button" class="logout-button">Вийти</a>
        <img id="user_icon" src="" alt="user photo" />
   
    </div>
    
    
</header>