
header {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(10vh, auto);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #b72a23;
  color: white;
  gap: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.header-menu{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
a {
  color: white;
}
.header_menu,
.header_menu_list,
.auth-box,
.logo {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.header_menu_list a:hover{
  text-decoration: underline;
  color: white;
}
.logo a{
  color: var(--ffffff);
  font-family: 'Lobster';
  -webkit-text-stroke: 1px #2d2d2d;;
  font-size: 35px;
  font-weight: 700;
}
.logo a:hover{
  text-decoration: none;
  transform: scale(1.1);
}
.auth-box {
  justify-content: end;
  padding-right: 20px;
}
.logout-button {
  border-radius: 10px;
  padding: 8px 15px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.logout-button:hover, .login-button:hover{
  background-color: #d63920;
  text-decoration: none;
  color: white;
}
.login-button {
  border-radius: 10px;
  padding: 8px 15px;
  border: 1px solid #fff;
  cursor: pointer;
}
.auth-box img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  cursor: pointer;
}

  